@import "~prismjs/themes/prism-okaidia";
@import "~prismjs/plugins/line-numbers/prism-line-numbers";

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  min-height: 100vh;
}
body {
}
svg {
  box-sizing: border-box;
  width: 100%;
}
div#content {
  margin: 0 auto;
  max-width: 1080px;
  padding: 20px;
}
.tooltip {
  position: absolute;
  background: #666;
  color: white;
  border: 1px solid #333;
  box-sizing: border-box;
  pointer-events: none;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  border-radius: 2px;
  text-shadow: -1px 0 0 rgba(0,0,0,0.5); 
}
.description {
  background: #F0F0F0;
  padding: 0.5em 1em;
  margin-bottom: 4em;
}
.visualizations {
  margin-bottom: 4em;
  padding-bottom: 4em;
  border-bottom: 2px solid #F0F0F0;
}
.line-chart {
  &__line {
    fill: transparent;
    stroke: red;
  }
}
.basic-line-chart {
  &__axis-bottom {
    text {
      text-anchor: end;
    }
  }
}
.basic-area-chart {
  &__axis-bottom {
    text {
      text-anchor: end;
    }
  }
  .area-chart {
    &__area {
      fill: rgba(200,0,0,0.8);
    }
  }
}
.basic-bar-chart {
  &__axis-bottom {
    text {
      text-anchor: center;
    }
    .tick:nth-child(2n+1) {
      text {
        transform: translate(0px, 10px);
      }
    }
  }
}
.fancy-line-chart {
  &__axis-bottom {
    text {
      text-anchor: end;
    }
  }
  .area-chart__area {
    fill: red;
  }
}
.pie-chart {
  &__pie__slice {
    &__outer-label {
      font-size: 10px;
    }
  }
}
.bubble-chart {
  &__bubble {
    &__label {
      text-anchor: middle;
      fill: white;
      alignment-baseline: middle;
      font-size: 10px;
    }
  }
}
.basic-states-map__choropleth-map {
  path {
    fill: transparent;
    stroke: #666;
    &:hover {
      opacity: 0.8;
    }
  }
}
.map-tooltip {
  &__name {
    font-size: 1.4em;
  }
}
.code-viewer {
  background-color: #DFDFDF;
  font-size: 13px;
  h4 {
    line-height: 2em;
    font-size: 20px;
    letter-spacing: 1px;
    color: #333;
    padding: 0 10px;
    margin: 0px;
  }
  &__syntax {
    display: block;
    padding: 10px !important;
    border-radius: 1px !important;
    white-space: pre-wrap !important;
  }
}
