@import "~prismjs/themes/prism-okaidia";
@import "~prismjs/plugins/line-numbers/prism-line-numbers";
@import "~basicgrid/src/styles/main";
@import "~nud3/stylesheets/index";

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  min-height: 100vh;
}
body {
}
svg {
  box-sizing: border-box;
  width: 100%;
}
.documentation-layout {
  display: flex;
  min-height: 100vh;
  &__sidebar {
    background: #054041;
    h1 {
      color: #E0D7CA;
    }
    flex-shrink: 1;
    padding: 0 20px;
    border-right: 5px solid #02AA99;
    ul {
      list-style: none;
      padding: 0;
      li {
        line-height: 2rem;
      }
    }
    a {
      color: #F0F0F0;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
    }
    .social-links {
      margin-top: 1rem;
      font-size: 2rem;
      text-align: center;
      i {
        padding: 0 0.25em;
      }
    }
  }
  &__content {
    padding: 10px 25px;
    max-width: 1000px;
    flex-grow: 1;
  }
}
h1,h2,h3,h4,h5 {
  color: #054041;
}
.tooltip {
  position: absolute;
  background: #666;
  color: white;
  border: 1px solid #333;
  box-sizing: border-box;
  pointer-events: none;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  border-radius: 2px;
  text-shadow: -1px 0 0 rgba(0,0,0,0.5); 
}
.description {
  background: #F0F0F0;
  padding: 0.5em 1em;
  margin-bottom: 4em;
}
.visualizations {
  margin-bottom: 4em;
  padding-bottom: 4em;
  border-bottom: 2px solid #F0F0F0;
}
.line-chart {
  &__line {
    stroke: red;
  }
}
.basic-line-chart {
  .line-chart__line {
    stroke-width: 2px;
  }
  &__axis-bottom {
    text {
      text-anchor: end;
    }
  }
}

.scatter-line-chart {
  &__axis-bottom {
    text {
      text-anchor: end;
    }
  }
}
.basic-area-chart {
  &__axis-bottom {
    text {
      text-anchor: end;
    }
  }
  .area-chart {
    &__area {
      fill: rgba(200,0,0,0.8);
    }
  }
}
.basic-bar-chart {
  &__axis-bottom {
    text {
      text-anchor: center;
    }
    .tick:nth-child(2n+1) {
      text {
        transform: translate(0px, 10px);
      }
    }
  }
}
.fancy-line-chart {
  &__axis-bottom {
    text {
      text-anchor: end;
    }
  }
  .area-chart__area {
    fill: red;
  }
}
.pie-chart {
  &__pie__slice {
    &__outer-label {
      font-size: 10px;
    }
  }
}
.bubble-chart {
  &__bubble {
    &__label {
      text-anchor: middle;
      fill: white;
      alignment-baseline: middle;
      font-size: 10px;
    }
  }
}
.basic-states-map__choropleth-map {
  path {
    fill: transparent;
    stroke: #666;
    &:hover {
      opacity: 0.8;
    }
  }
}
.map-tooltip {
  &__name {
    font-size: 1.4em;
  }
}
.code-viewer {
  .code-viewer__syntax,code[class*="language-"] {
    background-color: #272822;
  }
  h4 {
    background-color: #DFDFDF;
    line-height: 2em;
    font-size: 20px;
    letter-spacing: 1px;
    color: #333;
    padding: 0 10px;
    margin: 0px;
    margin-top: 50px;
  }
}
.vertical-grid,
.horizontal-grid {
  opacity: 0.075
}

.range-selector {
  rect {
    fill: darkGray;
  }
}
